html {
  background: #3a0e46 url(background.jpg);
  background-size: cover;
  text-align: center;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 2rem;
  min-height: 100vh;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.png);
  background-size: cover;
}

.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 15;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hour-hand {
  width: 160px;
  height: 160px;
}

.clock .min,
.min-hand {
  width: 190px;
  height: 190px;
}

.clock .sec,
.sec-hand {
  width: 230px;
  height: 230px;
}

.hour-hand,
.min-hand,
.sec-hand {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hour-hand::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 80px;
  background: #bb86fc;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.min-hand::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sec-hand::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #70efde;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.digital-clock {
  color: #fff;
  font-size: 48px;
  font-family: "Major Mono Display", monospace;
}